.headerWrapper {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logoWrapper {
  display: flex;
  gap: 3rem;
  align-items: center;
  padding-left: 1rem;
}

.logoImg {
  width: 100px;
  height: auto;
  border-radius: 10%;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}

.nav {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.navLink {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-style: italic;
}

.desktopNav {
  display: flex;
}

.burgerBtn {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.burgerBtn img {
  width: 2.5rem;
  height: 2.5rem;
}

.mobileMenu {
  display: none;
}

/* Mobile styles */
@media (max-width: 850px) {
  .desktopNav {
    display: none;
  }

  .burgerBtn {
    display: block;
  }

  .mobileMenu {
    display: block;
    position: fixed;
    top: 107px;
    right: -100%;
    width: fit-content;
    min-width: 200px;
    padding: 2rem;
    margin-right: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    transition: right 0.4s ease;
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
  }

  .mobileMenuOpen {
    right: 0;
  }

  .mobileNav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav {
    flex-direction: column;
    gap: 1rem;
  }

  .navLink {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px){
  .logo {
    display: none;
  }
}
