.headerWrapper {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);              
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logoWrapper {
  display: flex;
  gap: 3rem;
  align-items: center;
  padding-left: 1rem;
}

.logoImg {
  width: 100px;
  height: auto;
  border-radius: 10%;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}

.nav {
  display: flex;
  list-style: none;
  gap: 0.1rem;
}

.navLink {
  display: flex;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-style: italic;
}

.desktopNav {
  display: flex;
}

.burgerBtn {
  display: none;
}

@media (max-width: 640px) {
  .logoImg {
    display: none;
  }
}

@media (max-width: 850px) {
  .desktopNav {
    display: none;
  }

  .burgerBtn {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .burgerBtn img {
    width: 100%;
    height: 100%;
  }

  .mobileMenu {
  display: flex;
  justify-content: center; 
   background-color: rgba(131, 128, 128, 0.425);
  backdrop-filter: blur(8px);
  position: fixed;
  top: 100px;
  right: -100%; 
  height: auto;
  width: fit-content; 
  min-width: 200px;
  padding: 2rem;
  padding-top: 6rem;
  transition: right 0.4s;
  /* z-index: 99999; */
  box-shadow: 0 0 55px rgba(0,0,0,0.3);
  transform: translateZ(0); 
}
  .mobileMenuOpen {
   right: 0;
  }

  .desktopNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 0;
}


  .nav {
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

.navLink {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

}
