.card {
    display: flex;
    flex-direction: column;
}

.link {
    display: flex;
    text-decoration: none;
    color:black;
}

.title {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.image{
    width: 250px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid white;
    transition: transform 0.3s ease, filter 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card:hover .title{
   transform: scale(1.03); 
}

.card:hover .image {
    transform: scale(1.02);
    filter: brightness(1.1);
}

@media (max-width: 748px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
}