.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(9px);
  padding: 1.5rem 2rem;
  border-radius: 8px;
  display: inline-block;
  text-align: justify;
  max-width: 90%;
}

.box p {
  font-size: 18px;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.main h4 {
  margin: 10px;
}

.main a {
  color: black;
}

.main li {
  font-size: 17px;
  line-height: 1.6;
}
