.pageWrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;

  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%),
    url("/assets/background.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}

.mainContent {
  flex: 1;
  position: relative;
  z-index: 3;
  padding: 2rem;
  margin-top: 1rem;
}
