.main {
  padding: 1rem;
  color: #140e0e;
  text-align: center;
}

.main h3{
 background-color: rgba(255, 255, 255, 0.896);
 text-align: center;
 backdrop-filter: blur(3px);
 width: auto; 
 border-radius: 10px;
 padding: 1rem;
 font-size:large;
 font-weight: 100;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

