.box {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(9px);
    padding: 0.5rem 2rem;
    border-radius: 8px;
} 

.box h2{
    padding-top: 1,5rem;
    margin-bottom: 0.5rem;
}

.box a {
    color: black;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.box a:hover {
    transform: scale(1.02);
}

.main{
   display: flex; 
   flex-direction: column;
   align-items: center;
   padding-top: 1rem; 
}

.phones{
   display: flex;
   flex-direction: column;
   gap: 0.6rem;
}



.hours {
    display: grid;
    grid-template-columns: 160px auto;
    row-gap: 3px ; 
    font-size: 20px;
    font-weight: 600;
}
